<div class="container-fluid">
    <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">User Profile</a>
      <ul class="nav">
        <li><a ui-sref="route1">Route 1</a></li>
      </ul>
    </div>
  </div>  

  <h2>Register device</h2>      
  <p>Do something here to register your device</p> 

  <a href="#/deviceregister"  style="text-decoration: none">
    <button type="submit" name="go" class="btn btn-md btn-primary" ng-click=""> Register device </button>
  </a>



</div>