<div ng-controller = "userprofileCtrl">

<h4>Welcome {{userInfo.firstname}} {{userInfo.lastname}}!</h4>
<div ui-view="register"></div>
<br>
<span ng-show="loading.hidden">
<img src='../../img/loading_spinner.gif' width='100px' height='100px'>
</span>

<span ng-show="!loading.hidden">
  <span ng-show="plants.hidden">
    <div>
      <h4>You have no devices bruh!</h4>
  <!--     <a href="#/deviceregister"  style="text-decoration: none">
      <button type="submit" name="go" class="btn btn-md btn-primary" ng-click=""> Register device </button>
    </a> -->
    </div>
  </span>

  <span ng-show="!plants.hidden">
    <div>
      <h4>Your plants:</h4>
    </div>
    <div ng-repeat='device in deviceData'>
      <div class="deviceProfile">
       <div class='deviceName'><b>Plant:</b> {{device.name}}</div>
        <div class='deviceLight'><b>Light:</b> {{device.data.light}} {{device.data.lightVal}}</div>
        <div class='deviceWater'><b>Moisture:</b> {{device.data.water}} {{device.data.waterVal}}</div>
        <div class='deviceTemp'><b>Temperature:</b> {{device.data.temp}}</div>
        <button class='btn-danger' ng-click='deleteDevice(device.name)'>Delete device</button>
        <br>
      </div>
      <br>
    </div>
  </span>
</span>


  

</div>

