/*#81A623*/

.spinner {
	display: block;
	width:100px;
	height:100px;
	margin: 0px auto;
}

.profileInfo {
	background-color: white;
	width: 230px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 15px auto 10px auto;
  padding: 10px;
}

.profileImg {
	border: 2px solid black;
	width: 200px;
	display: block;
	margin: 10px auto;
}

.trigger {
	width: 180px;
}

.deviceProfile {
	border: .5px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.deviceInfo {
	overflow: hidden;
	min-height: 75%;
	padding: 15px;
	font-size: 15px;
	background-color: #96CA2D;
	margin-bottom: 25px;
	border-radius: 10px;
}

.chanceRain {
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	background-color: #FF4040;
	position: relative;
	top: 0;
}

@media (min-width: 300px) {
	.deviceInfo {
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
		width: 230px;
	}
}

@media (min-width: 350px) {
	.deviceInfo {
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
		width: 330px;
	}
}

@media (min-width: 600px) {
	.deviceInfo {
		width: 80%;
	}
}

@media (min-width: 700px) {
	.chanceRain {
		font-size: 25px;
	}
	.profileInfo {
		margin: 0px 10px 10px 20px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.deviceProfile {
		width: 100%;
	}
	.deviceInfo {
		min-height: 95%;
		margin-left: 270px;
		padding-left: 25px;
		padding-right: 25px;
		font-size: 25px;
		width: 60%;
	}
}

@media (min-width: 800px) {
	.deviceInfo {
		min-height: 100%;
		margin-left: 270px;
		padding-left: 25px;
		padding-right: 25px;
		font-size: 25px;
		width: 65%;
	}
}

@media (min-width: 900px) {
	.deviceInfo {
		width: 68%;
	}
}

@media (min-width: 1000px) {
	.deviceInfo {
		width: 70%;
	}
}
