/*#81A623*/
.up {
	bottom:100% !important;
	top:auto !important;
}

.userBloom {
	font-size:48px;
	color: #81A623;
	font-family: 'Lobster', cursive;
	padding-right: 100px;
	padding-left:50px;
}

.userNav {
	background-color: white;
	z-index:2;
	box-shadow: -5px -12px 20px 15px #888888;
	height: 60px !important;
}

.userNav a {
	font-size:14px;
	color: #81A623;
}

#triggerSettings {
	min-width: 230px;
	font-size: 25px;
	text-align: left;
}

.deviceSetting {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.spinner {
	display: block;
	width:100px;
	height:100px;
	margin: 0px auto;
}

.profileInfo {
	position: absolute;
	top: 70px;
	background-color: white;
	width: 230px;
  padding: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 17px;
}

.profileInfo h1 {
	margin-top: 0px;
}

.profileImg {
	border: 2px solid black;
	width: 200px;
	display: block;
	margin: 20px auto;
}

.trigger {
	width: 180px;
}

.deviceProfile {
	height: 150px;
	border-top: 5px solid #81A623;
	border-left: 5px solid #81A623;
	border-bottom: 5px solid #81A623;
  background-color: white;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	position:relative;
}

.deviceProfile h1{
	margin-top: 0px;
}

.deviceDataName {
	font-weight: bold;
}

.deviceInfo {
  overflow-y: scroll;
	display: block;
	height: 500px;
	padding:0 0 15px 15px;
	font-size: 15px;
	position:absolute;
	top: 200px;
	right: 0;
}

.chanceRain {
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	background-color: #FF4040;
	position: relative;
	top: 0;
}

@media (min-width: 300px) {
	.deviceInfo {
		width: 230px;
	}
}

@media (min-width: 350px) {
	.deviceInfo {
		width: 330px;
	}
	.profileInfo {
		width: 330px;
	}
}

@media (min-width: 600px) {
	.deviceProfile h1{
		margin-top: 0px;
		font-size: 55px;
	}

	.deviceProfile {
		height: 270px;
	}

	.deviceInfo {
		font-size: 20px;
		padding-left: 25px;
		padding-right: 0;
		margin-right: -10px;
		width: 60%;
		height: 85%;
		top: 70px;
	}

	.profileInfo {
		padding-top: 0;
		margin-top: 0;
		width: 230px;
		position: absolute;
		top: 70px;
		left: 0;
	}
}

@media (min-width: 700px) {
	.deviceInfo {
		margin-top: 0;
	}

	.chanceRain {
		font-size: 25px;
	}
}

@media (min-width: 800px) {
}

@media (min-width: 900px) {
}

@media (min-width: 1000px) {
}
