<div>

  <script type="text/ng-template" id="myModalTriggerContent.html">

    <div class="modal-header">
      <h3 class="modal-title">Alert me when:</h3>
    </div>

    <div class="modal-body">

          <label>Moisture levels
            <div class="checkbox">
              <label>
                <input type="checkbox" name="streamTriggers" ng-model="triggers.drenchedTrigger" ng-click="updateDeviceTrigger('drenchedTrigger')">Rise above 700 (Drenched!)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="streamTriggers" ng-model="triggers.dryTrigger" ng-click="updateDeviceTrigger('dryTrigger')">Fall between 400-100 (Dry!)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="streamTriggers" ng-model="triggers.dangerTrigger" ng-click="updateDeviceTrigger('dangerTrigger')">Fall below 100 (Danger!)
              </label>
            </div>
          </label>

    </div>

    <div class="modal-footer" "text-center">
      <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
    </div>

  </script>

  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="deviceSettingButton"><img src="../img/icons/gears.png"/>
    </button>
    <ul class="dropdown-menu up pull-right" role="menu" id="triggerSettings">
      <li class='btn btn-sm' id="triggerSettings" ng-click='prepareTriggers(device.apiKey, device.triggers);open()'>Set triggers</li>
      <li role="separator" class="divider"></li>
      <li class='btn btn-sm' id="triggerSettings" data-toggle="modal" data-target="#confirmDataDelete">Delete ALL data</li>
      <li class='btn btn-sm' id="triggerSettings" data-toggle="modal" data-target="#confirmDeviceDelete">Delete device</li>
    </ul>
  </div>

  <div class="modal" id="confirmDataDelete" tabindex="-1" role="dialog" aria-labelledby="dataDeleteModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="dataDeleteModal">Confirm Delete</h4>
        </div>
        <div class="modal-body">
          <h5>You are about to delete ALL data for {{device.name}}. This action cannot be reversed.</h5>
          <h5>Do you want to proceed?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger btn-ok" data-dismiss="modal" ng-click='deleteAllDeviceData(device.apiKey)'>Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="confirmDeviceDelete" tabindex="-1" role="dialog" aria-labelledby="deviceDeleteModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="deviceDeleteModal">Confirm Delete</h4>
        </div>
        <div class="modal-body">
          <h5>You are about to delete {{device.name}} from your profile.</h5>
          <h5>Do you want to proceed?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger btn-ok" data-dismiss="modal" ng-click='deleteDevice(device.name)'>Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
