<div>


  <script type="text/ng-template" id="myModalTriggerContent.html">

    <div class="modal-header">
      <h3 class="modal-title">Choose a Trigger!</h3>
    </div>
    <div class="modal-body">


                <div>
                  <uib-accordion close-others="oneAtATime">
                    <uib-accordion-group is-open="status.open">
                      <uib-accordion-heading panel-class="panel-success" class="alert">
                        Alert me when:<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                      </uib-accordion-heading>

                      <label>Moisture levels

                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="streamTriggers" ng-model="device.triggers.drenchedTrigger" ng-click="updateDeviceTrigger('drenchedTrigger')">Rise above 700 (Drenched!)
                          </label>
                        </div>   

                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="streamTriggers" ng-model="device.triggers.dryTrigger" ng-click="updateDeviceTrigger('dryTrigger')">Fall below 400 (Dry!)
                          </label>
                        </div>

                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="streamTriggers" ng-model="device.triggers.dangerTrigger" ng-click="updateDeviceTrigger('dangerTrigger')">Fall below 100 (Danger!)
                          </label>
                        </div>

           ​
                      </label>
                    </uib-accordion-group>
                  </uib-accordion>
                </div>



    </div>
  </script>

  <button ng-click="open(); prepareTriggers(device.apiKey)" class="btn btn-md btn-primary">New test Triggers</button>



</div>
