<!-- <div class="container-fluid" ng-controller="userprofile-registerCtrl">

	<h3>Nested View - User Register page</h3>      
	<p>Do something here to register your device</p>  -->

		<div ng-controller = "userprofile-registerCtrl">
		<button ng-click="toggleModal()" class="btn btn-md btn-primary">Register a device</button>

			<modal title="Register Device" visible="showModal">
				<form role="form" ng-submit = "registerDevice()">
					<div class="form-group">
						<label for="text">Device ID</label>
						<input type="text" class="form-control" id="register" placeholder="Enter device ID" ng-model="device.key" />
					</div>
					<div class="form-group">
						<label for="text">Plant Name</label>
						<input type="text" class="form-control" id="deviceid" placeholder="Enter Plant Name" ng-model="device.name"/>
					</div>
					<div class="text-center">
					<button type="submit" class="btn btn-md btn-primary">Register Device</button>
					</div>
				</form>
			</modal>
		</div>

<!-- <br>

<a ui-sref=".info" class="btn btn-success">Streams</a>


<div style="margin: 10px;"></div>
<div ui-view></div>

</div> -->

