.backgroundImagePanel{
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background-size: cover !important;
	width: 100%;
	background-image: url("../../img/backdrops/plant.jpg");
	height: 1000px;
	display: block;
	position: relative;
	z-index: 1;
}

/*background-color:#272722*/

.intro-section{
	position: absolute;
	height: 15%;
	padding-top:45%;
	padding-bottom:40%;
	text-align: center;
	/*overflow: hidden;*/
	/*padding-bottom: 25%;
	text-align: center;
	margin-bottom: 0px;*/
}

.nav>li>a {
    padding: 15px 15px;
}

.navBarText {
	color: white;
	font-family: 'Arial', sans-serif;
	/*font-family: 'Bree Serif', serif;
	font-size: 20px;*/
}

.navBarText:hover {
	color:#497631 !important;
	font-weight: bold;
	text-decoration: none;
    text-shadow: 0px 2px 10px #81A623;
}

.navbarLogo {
    float: left;
    height: 50px;
    padding: 9px 130px 16px 130px;
    font-size: 160px;
    line-height: 20px;
    color: white;
    margin-top: 80px;
    font-family: 'Lobster', cursive;
    width: 700px;
}

.nav-justified {
	padding: 20px;
}

#product {
	/*background-color: #244029;*/
	/*background-color: #0d241c;*/
	background-color: white;
	z-index: -90;
}

/*.productBar1{
	background-color: #497631;
	box-shadow: 0px 4px 4px -2px #888888;
	position: relative;
	z-index: -1;
}

.productBar2{
	background-color: #AFBC88;
	box-shadow: 0px 4px 4px -2px #888888;
	position: relative;
	z-index: -1;
}*/

/*.productBar3{
	background-color: #C4E56F;
	position: fixed;
	margin-bottom: 0px;
}*/

#features {
	margin-top: 0px;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 50px;
	padding-left: 50px;
}



.productPhoto {
	margin: auto;
	width: 50%;
	height: 50%;
	background-image: url("../../img/product/product.png");
	background-repeat: no-repeat;
	background-size: 50%;
}

.tellMeMore {
	margin-top: -50px;
	position: absolute;
	z-index: 100;
}

.inBetweenPhoto{
	background-image: url("../../img/backdrops/leaf2.jpg");
	height: 400px;
	width: 100%;
	background-attachment: fixed;
	position: relative;
}

.feedback {
	padding-top: 50px;
}

#message {
	height: 132px !important;
}

.pTeam {
	text-align:center;
	margin-top: 20px;
}

.signInGreen{
	background-color: #81A623 !important;
}

.signUpGreen{
	background-color: #3F5111 !important;
}

.greenModal {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 24px;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
}

.noBullet {
	list-style: none;
	padding-left: 0;
}

md-input-container {
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	text-align: center;
}


.labelSignin {
	color: #81A623 !important; 
}

.labelSignup {
	color: #3F5111 !important; 
}

md-input-container .md-input-focused {
	border-color: #81A623 !important; 
}

.modal-header {
	margin-bottom: 5px !important;
}

.inline {
	display: inline;
}

.microchip {
	margin-top: -300px;
}

.bloomCase{
	margin-top: -100px;
}

/*.zindexbars {
	z-index: -5;
}*/

.zindexnav{
	z-index: 10;
}

.inBetweenPhoto2{
	background-image: url("../../img/backdrops/wet.jpg");
	height: 400px;
	width: 100%;
	background-attachment: fixed;
	position: relative;
}

.inBetweenPhoto3{
	background-image: url("../../img/backdrops/flower.jpg");
	height: 400px;
	width: 100%;
	background-attachment: fixed;
	position: relative;
}
