.backgroundImagePanel{
	position: relative;
	margin-top: 0px;
	height:100px;
	background-size: cover;
	width: 100%;
	background-image: url("img/abstract.jpg");
}

.nav>li>a {
    padding: 15px 15px;
}